[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
private_key_file = ~/.ssh/anat-trainings-tracker-key.pem

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
