services:
  web:
    image: nginx:latest
    volumes:
      - ./web:/usr/share/nginx/html
      - web-data:/usr/share/nginx/html/src:ro
      - ./nginx-conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - appnet

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
      POSTGRES_DB: appdb
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - appnet

  cache:
    image: redis:7
    networks:
      - appnet

volumes:
  db-data:
  web-data:

networks:
  appnet:
